html {
  padding: 0px;
  margin: 0px;
}

#container {
  margin-right: 0px;
  padding-right: 0px;
  min-width: 1000px;
}

body {
  padding: 0px;
  margin: 0px;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
}

.jsreport-header {
  font-family: 'Play', sans-serif;
}

a {
  text-decoration: none;
  color: #B87200;
}

.header {
  width: 100%;
  font-family: 'Play', sans-serif;
  border-bottom: 1px solid #ddd;
  height: 55px;
  position: relative;
}

.brand {
  margin: 15px;
  margin-left: 25px;
  font-size: 2em;
  width: 250px;
  color: #00386c;
}

.brand a {
  color: #00386c;
}

.brand .logo {
  margin-top: -3px;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
  float: left;
}

.brand .name {
  float: left;
}

.nav-right {
  position: absolute;
  right: 50px;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  top: 8px;
}

.nav-right a {
  color: #00386c;
  margin-right: 15px;
}

#content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.changelog li {
  line-height: 1.5em;
}

code {
  color: #00386c;
  background-color: #ddd;
  padding: 2px;
  border-radius: 1px;
}

.error-gag-img {
  width: 300px;
}

.error-404 {
  width: 100%;
  text-align: center;
}

/* Home page */

.hero {
  width: 100%;
  height: 500px;
  background: url(/images/books.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 1000px;
}

.hero a {
  color: white;
}

.hero .copy {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  height: 500px;
}

.hero .intro {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5em;
  color: #00386c;
  text-align: center;
  padding-top: 80px;
}

.hero .cta {
  width: 1000px;
  margin-top: 50px;
  color: #232323;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  text-align: center;
}

.hero .button {
  margin-top: 50px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

.button {
  background-color: #B87200;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 3px;
}

.latest-releases {
  font-size: 1.25em;
  width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.latest-releases .version {
  width: 100%;
  border: 1px solid #dfdfdf;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.latest-releases .ts {
  font-size: 0.75em;
  color: #333333;
  margin-top: 0.5em;
}

.latest-releases .button {
  width: 180px;
  cursor: pointer;
}

.latest-releases .changelog {
  display: none;
}

.latest-releases .left {
  float: left;
  margin-left: 10px;
}

.latest-releases .right {
  float: right;
  margin-right: 10px;
}
