body {
  padding: 0px;
  margin: 0px;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #B87200;
}

.header {
  width: 100%;
  font-family: 'Play', sans-serif;
}

.brand {
  margin: 15px;
  margin-left: 25px;
  font-size: 2em;
  color: #00386c;
}

.brand .logo {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
  float: left;
}

.brand .name {
  float: left;
}

.hero {
  width: 100%;
  height: 500px;
  background: url(/images/books.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero a {
  color: white;
}

.hero .copy {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  height: 500px;
}

.hero .intro {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5em;
  color: #00386c;
  text-align: center;
  padding-top: 80px;
}

.hero .cta {
  width: 1000px;
  margin-top: 50px;
  color: #232323;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  text-align: center;
}

.hero .button {
  margin-top: 50px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

.button {
  background-color: #B87200;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 3px;
}

.latest-releases h2 {
  font-family: 'Play', sans-serif;
}

.latest-releases {
  width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.latest-releases .version {
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 10px;
  margin-top: 10px;
}

.latest-releases .ts {
  font-size: 0.75em;
  color: #333333;
  margin-top: 0.5em;
}

.latest-releases .button {
  width: 150px;
  cursor: pointer;
}

.latest-releases .changelog {
  display: none;
}

.latest-releases .left {
  float: left;
}

.latest-releases .right {
  float: right;
}
